.background-nosotros {
    background-color: rgb(113, 120, 255)  ;
    position:flex;
    height:600px;
    width:100%; 
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
  
  }
  
